@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Class</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<p>sometext mreo</p>


<form>
    <div>
        <label>Field 1</label>
        <input name="field1" value="Billy" />
    </div>
    <div>
        <label>Field 2</label>
        <input name="field2" value="6" />
    </div>
    <div>
        <input type="submit" />
    </div>
</form>
