@model bool
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
    top or bottom?
*@

@if (Model) {
<div class="bun top"></div>
} else {
<div class="bun bottom"></div>
}
