@model IEnumerable<MVCDemo.SuperPet>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="Cart">See my cart in action!</a>

</p>
<div class="filterer">
    Filter: By SuperHero
    <form>
        <input id="filterID" type="hidden" value="-1" />
        <input id="filterText" type="text" data-url="SuperHero/Get" />
        <button class="filterButton" id="btnFilter" data-action="SuperPet|SuperHero">Apply</button>
    </form>
    <div id="results">

    </div>
</div>
<ul>
    <li><a href="?page=1&count=2"> Show Pages (2 per page)</a></li>
    <li><a href="?page=1&count=3"> Show Pages (3 per page)</a></li>
    <li><a href="?page=1&count=4"> Show Pages (4 per page)</a></li>
</ul>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PetType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuperHero)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @Html.Partial("Parts/_TableData")
    </tbody>
</table>
@*@Html.Partial("Pagination", (Pager)ViewBag.Pager)*@
<partial name="Pagination" model="ViewBag.Pager" />

