@model Pager
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@if (Model != null) {
    <div>
        @for (int pgNum = 1; pgNum < Model.CountOfPages + 1; pgNum++) {
            bool curr = pgNum == Model.CurrentPageNumber;
            <a href="?page=@pgNum&count=@Model.CountPerPage"
               class="@(curr ?"selected":"")">
                @pgNum@(curr ? "*" : "")
            </a>
        }
    </div>
}